    header {
    text-align: center;
    background-size: cover;
    }
    
    h1 {
        color: #135285;
        font-family: 'Big Shoulders Text';
    }
    
    article img {
    height: 200px;
    width: 200px;
    margin: 40px 0px 0px 40px;
    border: 2px solid #135285;
    
    }
    
    ul {
    padding: 10px;
    background: white;
    }
    
    li {
    padding: 5px;
    display: inline;
    }
    
    article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background: white;
    border: 4px solid #135285;
    color: #135285;
    font-family: 'Ovo', serif;
    font-family: 'Big Shoulders Text';
    }
    
    h2 {
    text-align: center;
    }
    
    p {
    text-align: left;
    }
    body
    {
    background: white;
    }
    
    footer {
    text-align: center;
    color: #135285;
    font-family: 'Ovo', serif;
    font-family: 'Big Shoulders Text';
    }

    a:hover,
    a:visited:hover {
      color: #135285;
    }
    
    a:visited {
      color: #135285
    }
    
      

    @media only screen and (max-width: 600px) {
    .image {
    display: block;
    margin-bottom: 10px;
        }